
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    .grid {
      margin: auto;
      width: 500px;
      text-align: center;
    }
    .grid table {
      width: 100%;
      border-collapse: collapse;
    }
    .grid th,td {
      padding: 10;
      border: 1px dashed orange;
      height: 35px;
      line-height: 35px;
    }
    .grid th {
      background-color: orange;
    }
    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: #F3DCAB;
    }
    .grid .total {
      height: 30px;
      line-height: 30px;
      background-color: #F3DCAB;
      border-top: 1px solid #C2D89A;
    }
  </style>
   <script type="text/javascript" src="js/vue.js"></script>
   <script src="js/axios.js"></script>
</head>
<body>
  <div id="app">
    <div class="grid">
        <div>
            <h1>图书管理</h1>
            <div class="book">
              <div>
                <label for="id">
                  编号：
                </label>
                <input type="text" id="id" v-model='id' :disabled="flag" disabled="false">
                <label for="name">
                  名称：
                </label>
                <input type="text" id="name" v-model='name'>
                <button @click='handle' :disabled="submitFlag">提交</button>
              </div>
            </div>
        </div>
        <div class="total">
            <span>图书总数：</span>
            <span>{{total}}</span>
          </div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr :key="item.id" v-for="(item,index) in books">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date | format('yyyy-MM-dd hh:mm:ss')}}</td>
            <td>
              <a href="" @click.prevent="modify(item.id)" >修改</a>
              <span>|</span>
              <a href="" @click.prevent="del(item.id)">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript">
  //设置基准路径
    axios.defaults.baseURL= 'http://localhost:3000/';
    //拦截响应请求
    axios.interceptors.response.use(function(res){
        return res.data;
    })
    /*
      图书管理-图书列表展示功能
      注意事项：<a href="" @click.prevent>修改</a>
      事件绑定时，可以只添加修饰符，而不绑定事件函数
    */
   //还必须定义到前面，否则无法使用
    Vue.filter('format', function(value, arg) {
      function dateFormat(date, format) {
          if (typeof date === "string") {
              var mts = date.match(/(\/Date\((\d+)\)\/)/);
              if (mts && mts.length >= 3) {
                  date = parseInt(mts[2]);
              }
          }
          date = new Date(date);
          if (!date || date.toUTCString() == "Invalid Date") {
              return "";
          }
          var map = {
              "M": date.getMonth() + 1, //月份 
              "d": date.getDate(), //日 
              "h": date.getHours(), //小时 
              "m": date.getMinutes(), //分 
              "s": date.getSeconds(), //秒 
              "q": Math.floor((date.getMonth() + 3) / 3), //季度 
              "S": date.getMilliseconds() //毫秒 
          };

          format = format.replace(/([yMdhmsqS])+/g, function(all, t) {
              var v = map[t];
              if (v !== undefined) {
                  if (all.length > 1) {
                      v = '0' + v;
                      v = v.substr(v.length - 2);
                  }
                  return v;
              } else if (t === 'y') {
                  return (date.getFullYear() + '').substr(4 - all.length);
              }
              return all;
          });
          return format;
      }
      return dateFormat(value, arg);
    })

    var vm = new Vue({
      el: '#app',
      data: {
          id:'',
          name:'',
          flag:false,
          books:[],
          submitFlag:false
      },
      methods:{
          queryData:async function(){
            this.books = await axios.get('books');
          },
          handle: async function(){
              if(this.flag){
                  //当前是编辑操作
                  // this.books.some((item)=>{
                  //     if(item.id==this.id){
                  //         item.name = this.name;
                  //         //找到之后就终止循环
                  //         return false;
                  //     }
                  // })
                  var ret = await axios.put('books/'+this.id,{
                    name:this.name
                  });
                  if(ret.status == 200){
                    //重新渲染页面
                    this.queryData();
                  }else{
                    alert('修改失败');
                  }
                  this.flag = false;
              }else{
                  //添加操作
              //   let res ={};
              // res.id=this.id;
              // res.name=this.name;
              // res.date=new Date();
              // this.books.push(res);
              var res = await axios.post('books',{
                name: this.name
              })
              if(res.status == 200){
                this.queryData();
                }else{
                  alert('添加失败');
                }
              }   
              //添加完成后清空输入框里面的内容
                this.id="";
                this.name="";
          },
          modify:function(id){   //将修改信息渲染到表单上
            //some方法返回的是boolean值，可用于检察数组中是否有某对象S
            //filter方法返回的是一个新数组，可用于过滤数组中的对象
            this.flag = true;
                var book = this.books.filter(function(item){
                    if(item.id==id){
                        return item;
                    } 
                })
               // console.log(book);
                this.id = book[0].id;
                this.name= book[0].name;
          },
          del:async function(id){
            //删除有两种方法
            // var index = this.books.findIndex((item)=>{
            //     if(item.id == id)
            //     return item;
            // })
            // this.books.splice(index,1);
            //第二种方法
            // var book = this.books.filter((item)=>{
            //     if(item.id!=id){
            //         return item;
            //     }
            // })
            // this.books = book;
            
            var ret = await axios.delete('books/'+id);
            if(ret.status == 200){
              this.queryData();
            }else{
              alert('删除失败');
            }  
          }
      },
      computed:{
          total:function(){
              //计算图书总数量
              return this.books.length;
          }
      },
      watch:{
          name:async function(val){
              // var flag = this.books.some((item)=>{
              //     return item.name == val
              // })
                var ret = await axios.get('books/book/'+val);
                var flag = ret.status;
              if(flag==1){
                    // 图书名称存在
                 this.submitFlag = true;
             }else{
                // 图书名称不存在
                this.submitFlag = false;
            }
          }
      },
      mounted: function(){
          //向服务器端发送请求获取图书列表
       this.queryData();
        // 该生命周期钩子函数被触发的时候，模板已经可以使用
        // 一般此时用于获取后台数据，然后把数据填充到模板
        // var data = [{
        //   id: 1,
        //   name: '三国演义',
        //   date: 2525609975000
        // },{
        //   id: 2,
        //   name: '水浒传',
        //   date: 2525609975000
        // },{
        //   id: 3,
        //   name: '红楼梦',
        //   date: 2525609975000
        // },{
        //   id: 4,
        //   name: '西游记',
        //   date: 2525609975000
        // }];
        // this.books = data;
      }
    });

   
  </script>
</body>
</html>
